table {
  width:100%
}
th{
  text-align: center;
  padding: 5px;
}
td:nth-child(1) {
  width: 17%;
}
td:nth-child(2) {
  width: 50%;
}
td:nth-child(3) {
  width: 25%;
}
td:nth-child(4) {
  width: 8%;
}
